body {
  user-select: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 101;
}

footer, .push {
  height: 2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
